body {
	background-color: white;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
}

body div {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.landing {
	filter: blur(0.25em);
	background-position: top;
	background-image: url(../images/wallpaper.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

body div div {
	position: relative;
	width: 100%;
	display: flex;
	justify-self: center;
	align-items: center;
}

section {
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
}

section a,
.noData a,
.goBack a {
	text-align: center;
	text-decoration: none;
	width: 55%;
	border: none;
	color: white;
	font-size: 1em;
	background-color: purple;
	box-shadow: 0.25em 0.25em rgba(250, 250, 250, 0.15);
	padding: 1em 0;
	border-radius: 5em;
}

.navigation {
	background-color: rgba(251, 251, 251, 1);
	border: 0.1em solid rgba(242, 242, 242, 1);
	padding: 1.5em 0;
	border-top-left-radius: 1.5em;
	border-top-right-radius: 1.5em;
	display: flex;
	justify-content: space-around;
	list-style: none;
	position: fixed;
	bottom: 0;
	margin: 0;
	width: 100%;
}

.navigation li {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation li a {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
}

.navigation li img {
	width: 15%;
}

.albumCard {
	width: 85%;
	background-color: rgba(251, 251, 251, 0.8);
	margin: 0.5em 0;
	border: 0.1em solid rgba(242, 242, 242, 0.8);
	border-radius: 1.5em;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.75);
}

.albumCard h2,
.albumCard p {
	text-align: left;
}

.albumCard > div p:first-of-type {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: 700;
	color: black;
	opacity: 100;
	margin-left: 1.5em;
}

.albumCard > p {
	font-weight: thin;
	opacity: 50%;
	margin-top: 0;
	margin-left: 1.5em;
}

.albumImage {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	height: 10em;
	width: 100%;
	background-position: center;
	background-size: cover;
}

.albumCard div:nth-of-type(2),
.detailPage > div {
	display: flex;
	height: auto;
	margin-top: 0.25em;
	justify-content: space-between;
	flex-direction: row;
}

.detailPage > div {
	margin-top: 0.5em;
}

.detailPage > div h1 {
	max-width: 75%;
	text-align: left;
	margin: 0;
	margin-left: 0.75em;
	font-size: 1.5em;
}

.albumCard > div:nth-of-type(2) p:nth-of-type(2),
.detailPage > div > p:last-of-type {
	opacity: 50%;
	text-align: right;
	margin: 0;
	font-size: 0.65em;
	margin-right: 1em;
}

.detailPage > div > p:last-of-type {
	font-size: 1em;
}

input[type='radio'] {
	display: none;
}

fieldset {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border: none;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
}
fieldset:last-of-type {
	margin: 2.5em 0;
}

form {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

input[type='radio'] + label {
	border: 0.15em solid rgba(242, 242, 242, 1);
	opacity: 50%;
	padding: 0.5em;
	border-radius: 0.5em;
}

input[type='radio']:checked + label {
	border: 0.15em solid purple;
	opacity: 100%;
}

legend {
	margin-bottom: 0.5em;
}

input[type='submit'] {
	border: 0.15em solid purple;
	background-color: purple;
	border-radius: 5em;
	font-size: 1.15em;
	padding: 0.5em 1.5em;
	color: rgba(242, 242, 242, 1);
}

.noData {
	height: 500vh;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 65%;
	text-align: center;
}

.goBack {
	padding: 1em 0 7em 0;
}

.detailPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100vw;
	position: relative;
}

.detailPage img {
	object-fit: contain;
	width: 100%;
}

.detailPage > p:first-of-type {
	display: block;
	text-align: left;
	width: 90%;
	margin: 0;
	margin-top: 0.5em;
}

.detailPage > p:last-of-type {
	padding-bottom: 7.5em;
	width: 90%;
	opacity: 50%;
}

.detailPage > a {
	border: none;
	background-color: rgba(250, 250, 250, 0.9);
	color: white;
	position: absolute;
	left: 2.5%;
	top: 1.5%;
	border-radius: 2em;
	display: flex;
	justify-content: center;
	padding: 0.5em 1.5em;
}

.detailPage > a img {
	width: 1.25em;
}
