<div>
	<h2>Add</h2>
	<form action="/add" method="POST">
		<label for="title">Title</label>
		<input id="title" type="text" name="title" />
		<label for="artist">Artist</label>
		<input id="artist" type="text" name="artist" />
		<label for="description">Description</label>
		<textarea id="description" type="text" name="description"></textarea>
		<label for="genre">Genre</label>
		<input id="genre" type="text" name="genre" />
		<label for="year">Year</label>
		<input id="year" type="text" name="year" />
		<label for="title">Album Cover</label>
		<input id="title" type="image" name="image" />
		<input type="submit" value="Add" />
	</form>
	<%- include('navigation') %>
</div>
