<div>
	<h2>Add</h2>
	<form action="/add" method="POST" enctype="multipart/form-data" key="File">
		<label for="Title">Title</label>
		<input id="Title" type="text" name="Title" required />
		<label for="Artist">Artist</label>
		<input id="Artist" type="text" name="Artist" required />
		<label for="Description">Description</label>
		<textarea id="Description" type="text" name="Description" required></textarea>
		<label for="Genre">Genre</label>
		<input id="Genre" type="text" name="Genre" required />
		<label for="Year">Year</label>
		<input id="Year" type="text" name="Year" required />
		<label for="File">Album Cover</label>
		<input id="File" type="File" name="File" required />
		<input class="buttonAdd" type="submit" value="Add" />
	</form>
	<%- include('navigation') %>
</div>
<script>
	const inputs = document.querySelectorAll(`input[type='text']`)
	const button = document.getElementsByClassName('buttonAdd')

	if (inputs.value === '') {
		button.style.opacity = 0.25
	} else {
		button.style.opacity = 1
	}
</script>
