<div>
	<form action="">
		<legend>
			<input type="radio" id="80's" name="year" value="80's" checked />
			<label for="80's">80's</label>
			<input type="radio" id="90's" name="year" value="90's" checked />
			<label for="90's">90's</label>
			<input type="radio" id="00's" name="year" value="00's" checked />
			<label for="00's">00's</label>
			<input type="radio" id="10's" name="year" value="10's" checked />
			<label for="10's">10's</label>
		</legend>
		<legend>
			<input type="radio" id="Jazz" name="category" value="Jazz" checked />
			<label for="Jazz">Jazz</label>
			<input type="radio" id="Trap" name="category" value="Trap" checked />
			<label for="Trap">Trap</label>
			<input type="radio" id="r&b" name="category" value="r&b" checked />
			<label for="r&b">r&b</label>
			<input type="radio" id="Alternative" name="category" value="Alternative" checked />
			<label for="Alternative">Alternative</label>
		</legend>
	</form>
</div>
