<div>
	<ul class="navigation">
		<li>
			<a href="/preference"><img src="../images/filter.png" alt="" /></a>
		</li>
		<li>
			<a href="/results"><img src="../images/music-note.png" alt="" /></a>
		</li>
		<li>
			<a href="/favorites"><img src="../images/love.png" alt="" /></a>
		</li>
	</ul>
</div>
