<div>
	<ul class="navigation">
		<li>
			<a class="active" href="/preference">
				<img src="../images/music-note.png" alt="" />
			</a>
		</li>
		<li>
			<a href="/favorites"><img src="../images/love.png" alt="" /></a>
		</li>
	</ul>
</div>

<script></script>
