<div>
	<ul class="navigation">
		<li>
			<a class="active" href="/preference">
				<img src="../images/home.png" alt="" />
				Home
			</a>
		</li>
		<li>
			<a href="/favorites"><img src="../images/love.png" alt="" /> Favorites</a>
		</li>
	</ul>
</div>

<script></script>
